<ng-container *ngIf="isSignedIn | async; else notSigneIn">
    <div class="container">
        <app-job-card [jobPostings]="jobPostings"></app-job-card>
    </div>
</ng-container>
<ng-template #notSigneIn>
    <div class="container">
        <div class="d-flex justify-content-center align-items-center h-100">
            <h1>
                You are not signed in please click
                <a routerLink="/login">here</a>
            </h1>
        </div>
    </div>
</ng-template>
<app-suggested> </app-suggested>
