<div class="flex flex-wrap shadow-2">
    <div class="w-full lg:w-6 px-0 py-4 lg:p-7 bg-blue-50"><img src="assets/images/blocks/logos/bastion-700.svg"
                                                                alt="Image" height="35" class="mb-6">
        <p-carousel indicatorstyleclass="hover:bg-primary-500" class="p-element">
            <div id="pr_id_2" class="p-carousel p-component p-carousel-horizontal"><!---->
                <div class="p-carousel-content">
                    <div class="p-carousel-container"><!---->
                        <div class="p-carousel-items-content" style="height: auto;">
                            <div class="p-carousel-items-container" style="transform: translate3d(0%, 0px, 0px);">
                                <!---->
                                <div class="p-carousel-item ng-star-inserted p-carousel-item-active p-carousel-item-start p-carousel-item-end">
                                    <div class="text-center mb-8 ng-star-inserted"><img alt="Image" class="mb-6 w-6"
                                                                                        src="assets/images/blocks/illustration/live-collaboration.svg">
                                        <div class="mx-auto font-medium text-xl mb-4 text-blue-900">Unlimited Inbox
                                        </div>
                                        <p class="m-0 text-blue-700 line-height-3">Lorem ipsum dolor sit amet,
                                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                            dolore magna aliqua.</p></div><!----></div>
                                <div class="p-carousel-item ng-star-inserted">
                                    <div class="text-center mb-8 ng-star-inserted"><img alt="Image" class="mb-6 w-6"
                                                                                        src="assets/images/blocks/illustration/security.svg">
                                        <div class="mx-auto font-medium text-xl mb-4 text-blue-900">Data Security</div>
                                        <p class="m-0 text-blue-700 line-height-3">Ut enim ad minim veniam, quis nostrud
                                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div><!----></div>
                                <div class="p-carousel-item ng-star-inserted">
                                    <div class="text-center mb-8 ng-star-inserted"><img alt="Image" class="mb-6 w-6"
                                                                                        src="assets/images/blocks/illustration/subscribe.svg">
                                        <div class="mx-auto font-medium text-xl mb-4 text-blue-900">Cloud Backup
                                            Williams
                                        </div>
                                        <p class="m-0 text-blue-700 line-height-3">Duis aute irure dolor in
                                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                            pariatur.</p></div><!----></div><!----><!----></div>
                        </div><!----></div>
                    <ul class="p-carousel-indicators p-reset ng-star-inserted">
                        <li class="p-carousel-indicator ng-star-inserted p-highlight">
                            <button type="button" class="hover:bg-primary-500 p-link"></button>
                        </li>
                        <li class="p-carousel-indicator ng-star-inserted">
                            <button type="button" class="hover:bg-primary-500 p-link"></button>
                        </li>
                        <li class="p-carousel-indicator ng-star-inserted">
                            <button type="button" class="hover:bg-primary-500 p-link"></button>
                        </li><!----></ul><!----></div><!----></div>
        </p-carousel>
    </div>
    <div class="w-full lg:w-6 p-4 lg:p-7 surface-card">
        <div class="flex align-items-center justify-content-between mb-7"><span class="text-2xl font-medium text-900">Login to Bastion</span><a
                tabindex="0"
                class="font-medium text-blue-500 hover:text-blue-700 cursor-pointer transition-colors transition-duration-150">Sign
            up</a></div>
        <div class="flex justify-content-between">
            <button pripple=""
                    class="p-ripple p-element mr-2 w-6 font-medium border-1 surface-border surface-100 py-3 px-2 p-component hover:surface-200 active:surface-300 text-900 cursor-pointer transition-colors transition-duration-150 inline-flex align-items-center justify-content-center">
                <i class="pi pi-facebook text-indigo-500 mr-2"></i><span>Sign in With Facebook</span><span
                    class="p-ink"></span></button>
            <button pripple=""
                    class="p-ripple p-element ml-2 w-6 font-medium border-1 surface-border surface-100 py-3 px-2 p-component hover:surface-200 active:surface-300 text-900 cursor-pointer transition-colors transition-duration-150 inline-flex align-items-center justify-content-center">
                <i class="pi pi-google text-red-500 mr-2"></i><span>Sign in With Google</span><span
                    class="p-ink"></span></button>
        </div>
        <p-divider align="center" styleclass="my-4" class="p-element">
            <div role="separator"
                 class="my-4 p-divider p-component p-divider-horizontal p-divider-solid p-divider-center">
                <div class="p-divider-content"><span class="text-600 font-normal text-sm">OR</span></div>
            </div>
        </p-divider>
        <label for="email4" class="block text-900 font-medium mb-2">Email</label><input id="email4" type="text"
                                                                                        placeholder="Email address"
                                                                                        pinputtext=""
                                                                                        class="p-inputtext p-component p-element w-full mb-3 p-3"><label
            for="password4" class="block text-900 font-medium mb-2">Password</label><input id="password4"
                                                                                           type="password"
                                                                                           placeholder="Password"
                                                                                           pinputtext=""
                                                                                           class="p-inputtext p-component p-element w-full mb-3 p-3">
        <div class="flex align-items-center justify-content-between mb-6">
            <div class="flex align-items-center">
                <p-checkbox id="rememberme4" styleclass="mr-2" class="p-element">
                    <div class="mr-2 p-checkbox p-component">
                        <div class="p-hidden-accessible"><input type="checkbox" value="undefined" aria-checked="false">
                        </div>
                        <div class="p-checkbox-box"><!----></div>
                    </div><!----></p-checkbox>
                <label for="rememberme4">Remember me</label></div>
            <a class="font-medium text-blue-500 hover:text-blue-700 cursor-pointer transition-colors transition-duration-150">Forgot
                password?</a></div>
        <button pbutton="" pripple="" label="Sign In"
                class="p-element p-ripple w-full py-3 font-medium p-button p-component"><span class="p-button-label">Sign In</span><span
                class="p-ink"></span></button>
    </div>
</div>