<div class="d-flex justify-content-center align-items-center search-page">
    <div class="frm-contaier mt-5">

        <form class="frm">
            <div class="mb-3 d-flex flex-column">
                <label for="exampleInputusername" class="form-label col-12">Find job that suits you:</label>
                <div class="d-flex col-9">
                <input type="username" class="form-control col-9"  formControlName="username" id="exampleInputusername" aria-describedby="emailHelp">
                <button type="submit" class="btn btn-success col-3">Search</button>
                </div>
            </div>

        </form>
    </div>
</div>
