// .search-page {
//     height: 100vh;
//   }
form {
    color: #fff;
    width: 700px;
    padding: 25px;
    border-radius: 20px;
    background-color: rgba(000,000,25, .7);
  }
.err-message{
    color: #ff4d4d;
  }
