// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

body {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1.2rem;
    font-style: normal;
}
